* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e9e9e9;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 20px;
}
body{
	font-family: 'Open Sans',sans-serif;
	background-color: orange;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
	border-radius: 30px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	padding-top: 40px;
	margin: 10px 20px;
	font-size: 30px;
	text-shadow: -1px -1px 2px #fff, 2px 2px 2px rgba(0, 0, 0, 0.4);
}
#keyboard{
	height: 400px;
	display: grid;
	border-radius: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.1rem;
}
button{
	width: 60px;
	height: 60px;
	border: none;
	text-transform: uppercase;
	border-radius: 30px;
	cursor: pointer;
	background-color:;
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;

}
.number, .empty{
	background-color: #eaedef;
}
.empty{
	cursor: not-allowed;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
.operator:active, .number:active
{
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	box-shadow: 0px 15px 15px #fff, inset 6px 6px 9px rgba(#000, 0.4);
	transition: all 0.3s ease 0s;
}
/*hover is used to add animation on buttons on which the cursor is present*/
.operator:hover, .number:hover{
	background-color: #2EE59D;
	box-shadow: 12px 12px 15px 2px rgba(0, 0, 255, .2);
	color: #fff;
	transform: translateY(-7px);
}
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}